/**关于我们主体内容**/
.banner img{
    display: block;
    width: 100%;
}




.leader-con{
    margin-top: .3rem;
}
.leader-title{
    font-size: .28rem;
    color: #a72126;
}

.leader-list-t{
    font-size: .24rem;
    color: rgba(0,0,0,.77);
    margin-bottom: .05rem;
    padding-top: .1rem;
}
.leader-list-p{
    font-size: .24rem;
    color: rgba(0,0,0,.5);
    line-height: .4rem;
}

.leader-list{
    margin-top: .5rem;
}
.leader-list li{
    position: relative;
    padding-left: 1.9rem;
    margin-bottom: .5rem;
}
.leader-list-pic{
    position: absolute;
    left: 0;
    top: 0;
    width: 1.64rem;
    height: 1.64rem;
    border-radius: 50%;
    overflow: hidden;
}
.leader-list-pic img{
    display: block;
    width: 100%;
    height: 100%;
}

.leader-cons{
    margin: .7rem 0 .3rem;
}
.leader-cons .leader-title span{
    font-size: .22rem;
    color: rgba(0,0,0,.77);
    margin-right: .2rem;
}

.team-list li{
    position: relative;
    padding: .3rem 0  .3rem 1.4rem;
    border-top: 1px dashed #B5B5B5;
}
.team-list li:first-child{
    border-top: none;
}
.team-pic{
    position: absolute;
    left: 0;
    top: .3rem;
    width: 1.27rem;
    height: 1.38rem;
}
.team-pic img{
    display: block;
    width: 100%;
    height: 100%;
}
.team-desc{
    height: 1.38rem;
}
.team-desc-t{
    color: #A12329;
}
.team-dest-text{
    font-size: .22rem;
    color: rgba(0,0,0,.77);
    margin-top: .1rem;
}


/*研究**/
.research-list{
    padding: .2rem 0;
}
.research-list li{
    font-size: .22rem;
    color: rgba(62,62,62,.77);
    line-height: .38rem;
    padding: .1rem 0;
}
.research-list li a{
    display: block;
    color: rgba(62,62,62,.77);
}
.research-list li span{
    float: right;
}


/*教育教学**/
