<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>购物车示列</title>
</head>
<body>
<div id="app" v-cloak>
  <template v-if="list.length">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>商品名称</th>
          <th>商品单价</th>
          <th>商品数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in list">
          <td>{{ index+1 }}
          <input type="checkbox" placeholder="" v-model="checked" :value="item.id" >
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td></td>
          <td>
            <button @click="handleReduce(index)" :disabled="item.count ===1">-</button>
            {{ item.count }}
            <button @click="handleAdd(index)">+</button>
          </td>
          <td>
            <button @click="handleRemove(item.id)">移除</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>总价：￥ {{ totalPrice }} </div>
  </template>
  <div>
    全选：<input :checked="isChecked" type="checkbox" @click="selectAll()">
  </div>
  <div v-else>购物车为空</div>


  {{checked}}
</div>

<!-- vue的js要引入再底部，如果写在head里，vue的实例将无法创建，因为此时DOM还没有被解析完成，除非通过异步或再事件DOMContentLoaded(IE onreadystatechange)触发时再创建Vue实列，这有点像jquery的$(doucment).ready()方法 -->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script type="text/javascript">
var app = new Vue({
  el:"#app",
  data:{
    checked:[],
    isChecked:false,
    list:[
      {
        id:1,
        name:"iphone 7",
        price: 6188,
        count:1
      },
      {
        id:2,
        name:"iphone 8",
        price: 4188,
        count:1
      },
      {
        id:4,
        name:"iphone 7",
        price: 8188,
        count:1
      },
    ]
  },
  computed:{
    totalPrice:function(){
    	console.log(this.checked)
    	console.log(this.list)
      var total = 0;
      if(this.checked.length == 0){
        return 0;
      }else{
        for(var i=0;i<this.checked.length;i++){
          var item = this.checked[i];
          for (var j in this.list) {
          	if(this.list[j].id == item){
          		total += this.list[j].price * this.list[j].count
          	}
          }
          // total += item.price * item.count
        }
      }
      return total.toString().replace(/\B(?=(\d{3})+$)/g,',')
    }
  },
  methods:{
    handleReduce:function(index){
      if(this.list[index].count == 1) return;
      this.list[index].count --;
    },
    handleAdd:function(index){
      this.list[index].count ++;
    },
    handleRemove:function(index){
      this.list = this.list.filter((v) => {
      	return v.id != index;
      });
      if(this.checked.indexOf(index)>-1){
      	this.checked.splice(this.checked.indexOf(index),1)
      }
    },
    selectAll:function(){
      if(this.isChecked){
        this.isChecked = false;
        this.checked = [];
      }else{
         this.isChecked = true;
         this.checked = [];
         for (var i = 0; i < this.list.length;i++){
         	let item = this.list[i];
            this.checked.push(item.id);
         };
      }
    },
  },
  watch:{
    'checked':{
    handler:function(n,o){
      if(this.checked.length == this.list.length){
        this.isChecked = true;
      }else {
        this.isChecked = false;
      }
    },
    deep:true
   }
  }
})
</script>
</body>
</html>
