.welcome {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.welcome img {
  width: 100%;
  height: 100%;
}
.welcome .arrowsdown {
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0.8rem;
  z-index: 9;
  animation: ghostUpdown 1s infinite alternate;
  -webkit-animation: ghostUpdown 1s infinite alternate;
}
.welcome .arrowsdown img {
  width: 0.8rem;
  height: 0.5rem;
  animation: ghostUpdown 1s infinite alternate;
  -webkit-animation: ghostUpdown 1s infinite alternate;
}
.bg {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.bg .logo {
  position: fixed;
  padding: 0.9rem 0.73rem;
}
.bg img {
  width: 100%;
  height: 100%;
}
.bottomnav {
  display: none;
  width: 100%;
  position: relative;
  z-index: 3;
  padding-bottom: 0.3rem;
  padding-top: 5.4rem;
}
.bottomnav .nav {
  width: 100%;
  padding: 0 0.12rem;
}
.bottomnav .nav ul {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-top: 0.48rem;
}
.bottomnav .nav ul li {
  width: 2.29rem;
  height: 2.19rem;
  background: rgba(0, 80, 153, 0.6);
  margin-top: 0.2rem;
  margin-left: 0.18rem;
}
.bottomnav .nav ul li a {
  display: block;
}
.bottomnav .nav ul li a div {
  width: 1rem;
  height: 1rem;
  margin: 0.4rem auto 0.1rem;
}
.bottomnav .nav ul li a div img {
  width: 100%;
  height: 100%;
}
.bottomnav .nav ul li a p {
  color: #fff;
  font-size: 0.26rem;
  text-align: center;
}
.bottomnav .nav ul li:nth-child(1),
.bottomnav .nav ul li:nth-child(4),
.bottomnav .nav ul li:nth-child(7),
.bottomnav .nav ul li:nth-child(10),
.bottomnav .nav ul li:nth-child(14) {
  margin-left: 0rem;
}
/* PROGRESS */
.container {
  left: 50%;
  position: absolute;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 15;
}
.progress {
  background-color: #e5e9eb;
  height: 0.25em;
  position: relative;
  width: 24em;
}
.progress-bar {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: width;
  animation-name: width;
  background-image: -webkit-linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  background-size: 24em 0.25em;
  height: 100%;
  position: relative;
}
.progress-shadow {
  height: 4em;
  position: absolute;
  top: 100%;
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
}
/* ANIMATIONS */
@keyframes width {
  0%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
  }
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes ghostUpdown {
  from {
    bottom: 100px;
  }
  to {
    bottom: 70px;
  }
}
@-webkit-keyframes ghostUpdown {
  from {
    bottom: 100px;
  }
  to {
    bottom: 70px;
  }
}
.footer-text {
  margin-top: 0.3rem;
  font-size: 0.24rem;
  color: #fff;
  width: 100%;
  text-align: center;
}
